{{ $translation := ( index $.Site.Data.translations $.Site.Params.language ) }}

<div class="grid-container page-inner mail-steps">
  <h1>
    {{ replace $translation.register.heading "%state_name%" ( title .Title ) }}
  </h1>
  <p class="usa-intro">
    {{ replace $translation.register.by_mail.body "%state_name%" ( title .Title ) }}
  </p>
  <!-- Steps BEGIN -->
  <div class="usa-graphic-list">
    <div class="grid-row">
      <div class="grid-col-4">
        <img src="{{ .Site.BaseURL }}/assets/img/step-1.png">
        <h4 class="usa-graphic-list__heading">
          {{ $translation.register.by_mail.step_one_label }}
        </h4>
        <p>
          {{ $translation.register.by_mail.step_one }}
        </p>
      </div>
      <div class="grid-col-4">
        <img src="{{ .Site.BaseURL }}/assets/img/step-2.png">
        <h4 class="usa-graphic-list__heading">
          {{ $translation.register.by_mail.step_two_label }}
        </h4>
        <p>
          {{ $translation.register.by_mail.step_two }}
        </p>
      </div>
      <div class="grid-col-4">
        <img src="{{ .Site.BaseURL }}/assets/img/step-3.png">
        <h4 class="usa-graphic-list__heading">
          {{ $translation.register.by_mail.step_three_label }}
        </h4>
        <p>
          {{ $translation.register.by_mail.step_three }}
        </p>
      </div>
    </div>
  </div>
  {{ partial "dates.html" . }}
  <!-- Steps END -->
</div>

<!-- Download form BEGIN -->
<div class="grid-container page-inner mail-download">
  {{ range $key, $form := $.Site.Data.registration_forms }}
    {{ if eq $key $.Site.Params.language }}
    <a class="usa-button" href="{{ $form.file_path }}" target="_blank">
      {{ $translation.register.by_mail.download }}
    </a>
    {{ end }}
  {{ end }}
  <label class="usa-label">{{ $translation.register.by_mail.download_others }}</label>
  <ul class=".usa-list.usa-list--unstyled  mail-download-list">
    {{ range $key, $form := $.Site.Data.registration_forms }}
      {{ if ne $key $.Site.Params.language }}
        <li>
          <a href="{{ $form.file_path }}" target="_blank">{{ $form.language }}</a>
        </li>
      {{ end }}
    {{ end }}
  </ul>
  <!-- Download form END -->

  <!-- Email form BEGIN -->
  <div id="email">
    <hr><form class="usa-form">
    <label class="usa-label" for="input-type-text">Enter your email to send the form (PDF) to yourself or someone else:</label>
    <input class="usa-input" id="input-type-text" name="input-type-text" type="text">
    </form><br>
    <div class="usa-button" onclick="clicked(event)" id="js-user-submit" type="submit">
      Email the form (PDF)
    </div>
    <!-- Success alert  -->
    <div class="usa-alert usa-alert--success" style="display: none;" id="valid">
    <div class="usa-alert__body">
      <p class="usa-alert__text">Form sent to email.</p>
    </div>
    </div>
    <!-- Failure alert -->
    <div class="usa-alert usa-alert--error" role="alert" style="display: none;" id="invalid">
      <div class="usa-alert__body">
      <p class="usa-alert__text">Please enter a valid email address.</p>
    </div>
    </div>
  </div>

  <script>
  function clicked(ev)
  {
      var re = /^([^@\s]+)@((?:[-a-z0-9]+\.)+[a-z]{2,})$/i;
      var email = document.getElementById('input-type-text').value;
      if(re.test(email)) {
        document.getElementById('valid').style.display = 'block';
        document.getElementById('invalid').style.display = 'none';
      } else {
        document.getElementById('invalid').style.display = 'block';
        document.getElementById('valid').style.display = 'none';
      }
      //Send email directly
      // window.open('mailto:' + email +
      //             '?subject=' + 'National Voter Registration Application Form for U.S. Citizens (ENG)' +
      //             '&body=Remember to register to vote!');
  }
  </script>

  <script type="text/javascript">
    //REFRESHES FOR RETURN KEY
   document.getElementById('input-type-text').onkeypress = function(ev) {
    //REPLACE WITH EXISTING FUNCTION
    if(ev.which == 13) { clicked(ev); }
   };
 </script>

</div>
<!-- Email form END -->
