{{ $translation := ( index $.Site.Data.translations $.Site.Params.language ) }}

<div class="accordions">
  <h2>{{$translation.accordion.header}}</h2>
  <button onclick="accordion()" id="b" class="usa-button usa-button--outline">{{$translation.accordion.open_all}}</button>
  <div class="usa-accordion usa-accordion--bordered" aria-multiselectable="true">
    <div id="deadlines"></div>
      <script type="text/javascript">
        var stateObj = {{ index .Site.Data.elections.election_dates (.Params.title | lower ) }}
        var stateDates = stateObj.elections
        for (var i = 0; i < stateDates.length; i++) {
          var eventName = stateDates[i].election_type;
          var eventDate = stateDates[i].date;
          //1. Create header
          var li = document.createElement('h3');
          {{ if eq $.Site.Params.language "english" }}
            li.innerHTML = eventName;
          {{ else }}
            li.innerHTML = stateDates[i].spanish_election;
          {{ end }}
          li.classList.add('usa-accordion__heading');
          li.classList.add('usa-accordion__button');
          li.setAttribute('aria-expanded', 'false');
          //Name aria control attribute based on order in for loop
          li.setAttribute('aria-controls', 'b-a' + i);
          document.getElementById('deadlines').appendChild(li);
          //2. Create dropdown
          var innerContent = document.createElement('div');
          var stateDeadlines = stateObj.elections[i].election_deadlines;
          innerContent.classList.add('usa-accordion__content');
          innerContent.classList.add('usa-prose');
          innerContent.setAttribute('id', 'b-a' + i);
          document.getElementById('deadlines').appendChild(innerContent);
          for (var j = 0; j < stateDeadlines.length; j++) {
            var deadline = document.createElement("P");
            {{ if eq $.Site.Params.language "english" }}
              deadline.innerHTML = stateDeadlines[j].date_type + ": " + stateDeadlines[j].date;
            {{ else }}
            deadline.innerHTML = stateDeadlines[j].spanish_deadline + ": " + stateDeadlines[j].date;
            {{end}}

            document.getElementById('b-a' + i).appendChild(deadline);
        }
      }

      function open() {
        return (document.getElementById('b').innerHTML == {{$translation.accordion.close_all}}? false : true);
      }

      function accordion() {
        var accordions = document.querySelectorAll('h3');
        event.preventDefault();
        for (var i = 0; i < accordions.length; i++) {
          var header = accordions[i];
          var dropdown = document.getElementById('b-a' + i);
          if(open()) {
            header.setAttribute('aria-expanded', 'true');
            dropdown.removeAttribute('hidden');
          } else {
            header.setAttribute('aria-expanded', 'false');
            dropdown.setAttribute('hidden', 'true');
          }
        }
        document.getElementById('b').innerHTML = (open()? {{$translation.accordion.close_all}}: {{$translation.accordion.open_all}});
      }

    </script>
  </div>
  </div>
</div>
