{{ $translation := ( index $.Site.Data.translations $.Site.Params.language ) }}

<header class="usa-header" role="banner" id="header">
  {{ partial "disclaimer.html" . }}
  <nav class="grid-container">
    <div class="site-logo" id="logo">
      <h1>
      {{ if eq $.Site.Params.language "english" }}
        <a href="{{ .Site.BaseURL }}" accesskey="1" title="vote.gov" aria-label="vote.gov">
      {{ else }}
        <a href="{{ .Site.BaseURL }}/es/" accesskey="1" title="vote.gov" aria-label="vote.gov">
      {{ end }}
          {{ $translation.micro_copy.domain }}
        </a>
      </h1>
    </div>
  </nav>
</header>
